
{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./img/mine.jpg");
  background-position: center;
}

header{
  padding: 30px;
  text-align: center;
  color: white;

}

  section:after {
  content: "";
  display: table;
  clear: both;

}

nav {
  float: left;
  width: 20%;
  height: 300px;  
  padding: 20px;
 
}

nav ul {
  list-style-type: none;
  padding: 0;
}

footer {
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
.logo{
  height: 80px;
  width: 80px;
  float: left;
  border-radius: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #333333;*/
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}